@model Libraryms.Models.Huazimi

@{
    ViewData["Title"] = "Delete";
}

<h2 style="color:white">Delete</h2>


<div class="modal-dialog">
    <div class="modal-content">
        <form class="form" asp-action="Delete" method="post">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete this?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="window.location='/huazimi';">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Data E Pritjes:</label>
                    <h5 class="form-control">@Html.DisplayFor(model => model.DataPritjes)</h5>
                </div>
                <div class="form-group">
                    <label>Data e Kthimit:</label>
                    <h5 class="form-control">@Html.DisplayFor(model => model.DataKthimit)</h5>
                </div>
                <div class="form-group">
                    <label>Klienti ID:</label>
                    <h5 class="form-control">@Html.DisplayFor(model => model.Klienti_id)</h5>
                </div>
                <div class="form-group">
                    <label>Libra ID:</label>
                    <h5 class="form-control">@Html.DisplayFor(model => model.Libra_id)</h5>
                </div>
                <div class="form-group">
                    <label>Aktiv</label>
                    <h5>@Html.DisplayFor(model => model.Aktiv)</h5>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-dark" value="Anulo" onclick="window.location='/huazimi';">
                <input type="submit" value="Delete" class="btn btn-danger" float-right">
            </div>
        </form>
    </div>
</div>