@model Libraryms.Models.Huazimi
@{
    ViewData["Title"] = "Index";
}
<div>
    <table class="table">
        <tr>
            <td>@Model.id</td>
            <td>@Model.DataPritjes</td>
            <td>@Model.DataKthimit</td>
            <td>@Model.Klienti_id</td>
            <td>@Model.Libra_id</td>
            <td>@Model.Aktiv</td>
        </tr>
    </table>
</div>

