@page
@model Libraryms.Areas.Identity.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Libra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libra.Titulli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libra.Titulli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libra.Autori)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libra.Autori)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libra.E_Lire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libra.E_Lire)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Libra.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
