@page
@model Libraryms.Areas.Identity.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libra[0].Titulli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libra[0].Autori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libra[0].E_Lire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Libra) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Lire)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
