@model Libraryms.Models.Pagesa
}
<div>
    <table class="table">
        <tr>
            <td>@Model.id</td>
            <td>@Model.shuma</td>
            <td>@Model.Klienti_id</td>
            <td>@Model.Active/td>
            @{
                ViewData["Title"] = "Details";
             <td>@Model.created_at</td>
                }
            </tr>
        </table>
    </div>
