@using Libraryms.Data;

@*@model PaginatedList<Libraryms.Models.Pagesa>*@
@model Libraryms.Models.Pagesa;
@{
    ViewData["Title"] = "Index";
}

<title>Index</title>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Pagesat</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulli</th>
                        <th>Autori</th>
                        <th>Rafti</th>
                        <th>E Lire</th>
                        <th>Veprime</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Titulli</th>
                        <th>Autori</th>
                        <th>Rafti</th>
                        <th>E Lire</th>
                        <th>Veprime</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.id)</td>
                            <td>@Html.DisplayFor(model => item.shuma)</td>
                            <td>@Html.DisplayFor(model => item.Klienti_id)</td>
                            <td>@Html.DisplayFor(model => item.Active)</td>
                            <td>@Html.DisplayFor(model => item.created_at)</td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.id })">Edit</a>
                                <a class="btn btn-danger" href="@Url.Action("Details", new { id = item.id })">Details</a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.id })">Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="pr-4">
    <ul style="display: flex; float:right; list-style: none; border-radius: .35rem">
        <li class="paginate_button page-item previous" id="dataTable_previous">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               aria-controls="dataTable" data-dt-idx="1"
               class="btn page-link @prevDisabled">
                Previous
            </a>
        </li>
        <li class="paginate_button page-item next" id="dataTable_next">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               aria-controls="dataTable" data-dt-idx="2"
               class="btn page-link @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</div>*@
