@model List<Klienti>

@{
    ViewData["Title"] = "Index";
}

<title>Index</title>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Klientet</h1>


<a class="btn btn-primary" asp-action="Create">Create new</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Emri</th>
                        <th>Email</th>
                        <th>NumriTel</th>
                        <th>Aktiv</th>
 
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Emri</th>
                        <th>Email</th>
                        <th>NumriTel</th>
                        <th>Aktiv</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        @foreach (var item in Model)
                        {

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Emri</td>
                        <td>@item.Email</td>
                        <td>@item.NumriTel</td>
                        <td>@(item.Aktiv ? "Yes" : "No")</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("Edit",new { id = item.Id })">Edit</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete",new { id = item.Id })">Delete</a>
                        </td>
                    </tr>

                    }
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>

